#header img
{
height:80px;
width:70%;
margin:0px auto;
}
#header ul
{
float:right;
margin-bottom:10px;
}
#header ul li
{
display:inline;
margin-right:10px;
}
#header ul li a
{
color:#008000;
text-decoration:none;
}
.heading
{
font-size:20px;}
.para1
{
margin-left:20px;
font-size:14px;
}
.more
{
text-decoration:none;
padding:8px;
margin-left:10px;
}